.errorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-image: url('../images/fonfo1.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #333;
    padding: 20px;
}

.errorImage {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.errorTitle {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #d9534f;
}

.errorMessage {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #555;
}

.homeButton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #5cb85c;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.homeButton:hover {
    background-color: #4cae4c;
}